/* Make documentation use up the entire page */
div.document {
	width: auto;
	margin: 1em;
}

/* Prevent description of parameters, etc. from becoming too long */
.method > dd > * p,
.method > dd > * li {
	max-width: 40em;
}

/* Prevent RFC links from becoming major eye-catchers */
a.rfc > strong {
	font-weight: normal;
}

/* Add a bit more space around paragraphs */
p,
.field-list p {
	margin-bottom: 0.5em;
}

/* Don't make source code sample larger than their container */
dl dl pre {
	margin-left:  0;
	padding-left: 0;
}

/* "Better" formatting of parameter lists */
dl.attribute > dt,
dl.attribute > dd,
dl.attribute > dd > p:first-child {
	display: inline;
	margin-left: 0;
}

dl.attribute > dt > a.headerlink {
	display: none;
}

dl.attribute > dd > p:first-child::before {
	content: " (";
}
dl.attribute > dd > p:first-child::after {
	content: ") –";
}

dl.attribute > dd > * {
	margin-left: 30px;
}
